<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Tokimon</title>
  </head>
  <body>
    <form action="/edit" method="post">
      NAME: <br>
      <%= name %>
      <input type="text" name="name" <% if(name) { %>value = <%= name %> <% } %>/><br>
      WEIGHT: <br>
      <input type="text" name="weight" <% if(weight) { %>value = <%= weight %> <% } %>/><br>
      HEIGHT: <br>
      <input type="text" name="height" <% if(height) { %>value = <%= height %> <% } %>/><br>
      FLY: <br>
      <input type="text" name="fly" <% if(fly) { %>value = <%= fly %> <% } %>/><br>
      FIGHT: <br>
      <input type="text" name="fight" <% if(fight) { %>value = <%= fight %> <% } %>/><br>
      FIRE: <br>
      <input type="text" name="fire" <% if(fire) { %>value = <%= fire %> <% } %>/><br>
      WATER: <br>
      <input type="text" name="water" <% if(water) { %>value = <%= water %> <% } %>/><br>
      ELECTRIC: <br>
      <input type="text" name="electric" <% if(electric) { %>value = <%= electric %> <% } %>/><br>
      ICE: <br>
      <input type="text" name="ice" <% if(ice) { %>value = <%= ice %> <% } %>/><br><br>
      <input type="submit" value="SUBMIT" id="submitButton"/>
    </form>
  </body>
</html>
