<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Tokimon</title>
  </head>
  <body>
    <form action="/edit" method="post">
      NAME: <br>
      <% if(rows != null){
          rows.forEach(function(row){ %>
      <input type="text" name="name" value = <%= row.name %>/><br>
      WEIGHT: <br>
      <input type="text" name="weight" value = <%= row.weight %>/><br>
      HEIGHT: <br>
      <input type="text" name="height" value = <%= row.height %>/><br>
      FLY: <br>
      <input type="text" name="fly" value = <%= row.fly %><br>
      FIGHT: <br>
      <input type="text" name="fight" value = <%= row.fight %>/><br>
      FIRE: <br>
      <input type="text" name="fire" value = <%= row.fire %>/><br>
      WATER: <br>
      <input type="text" name="water" value = <%= row.water %>/><br>
      ELECTRIC: <br>
      <input type="text" name="electric" value = <%= row.electric %>/><br>
      ICE: <br>
      <input type="text" name="ice" value = <%= row.ice %>/><br><br>
      <% }); %>
      <input type="submit" value="SUBMIT" id="submitButton"/>
    </form>
  </body>
</html>
