<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
  </head>
  <body>
    <div id="header">
      <form action="/newTokimon" method="get">
        <input type="submit" id="addButton" value="ADD" />
      </form>
      <div id="search">
        <form action="/search" method="post">
          <input type="search" id="searchBar" name="search" placeholder="search for Tokimon..."/>
          <button type="button" id="searchButton">SEARCH</button>
        </form>
      </div>
    </div>
    <table>
      <tr>
        <th>NAME</th>
        <th>WEIGHT</th>
        <th>HEIGHT</th>
        <th>FLY</th>
        <th>FIGHT</th>
        <th>FIRE</th>
        <th>WATER</th>
        <th>ELECTRIC</th>
        <th>ICE</th>
        <th>TOTAL</th>
        <th>LINK</th>
        <th></th>           <!-- the last row will be for the
                                edit and delete buttons -->
      </tr>

      <!-- enter the database entries here -->

      <% if(rows != null){
          rows.forEach(function(row){ %>
        <tr>
          <td id="displayName"><%=row.name%></td>
          <td><%=row.weight%></td>
          <td><%=row.height%></td>
          <td><%=row.fly%></td>
          <td><%=row.fight%></td>
          <td><%=row.fire%></td>
          <td><%=row.water%></td>
          <td><%=row.electric%></td>
          <td><%=row.ice%></td>
          <td><%=row.total%></td>
          <% var href = `../displayTokimon/:${row.name}`; %>
          <td><a id="link" href=<%= href %>>link</a></td>
          <% var actionString = "/newTokimon/:" + row.name; %>
          <td><form method="get" action=<%= actionString %>>
                <input type="submit" name="edit" value="EDIT" />
              </form>
              <% actionString = "/delete/:" + row.name; %>
              <form method="get" action=<%= actionString %>>
                <input type="submit" name="delete" value="DELETE" />
              </form>  
        </tr>
        <% });
      }%>


    </table>
  </body>
</html>
