<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tokimon</title>
  </head>
  <body>
    <div id="header">
      <button type="button" id="addButton" formaction="/add" formmethod="get">ADD</button>
      <div id="search">
        <form action="/search" method="post">
          <input type="search" id="searchBar" name="search" placeholder="search for Tokimon..."/>
          <button type="button" id="searchButton">SEARCH</button>
        </form>
      </div>
    </div>
    <table>
      <tr>
        <th>NAME</th>
        <th>WEIGHT</th>
        <th>HEIGHT</th>
        <th>FLY</th>
        <th>FIGHT</th>
        <th>FIRE</th>
        <th>WATER</th>
        <th>ELECTRIC</th>
        <th>ICE</th>
        <th>TOTAL</th>
        <th>LINK</th>
        <th></th>           <!-- the last row will be for the
                                edit and delete buttons -->
      </tr>

      <!-- enter the database entries here -->

      <% rows.forEach(function(row){ %>
      <tr>
        <td id="displayName"><%=row.name%></td>
        <td><%=row.weight%></td>
        <td><%=row.height%></td>
        <td><%=row.fly%></td>
        <td><%=row.fight%></td>
        <td><%=row.fire%></td>
        <td><%=row.water%></td>
        <td><%=row.electric%></td>
        <td><%=row.ice%></td>
        <td><%=row.total%></td>
        <% getElementById("link").href = `../displayTokimon/:${row.name}`; %>
        <td><a id="link">link</a></td>
        <td><button type='button' id="editButton"/>EDIT<button type="button" id="deleteButton"/>DELETE</td>
<!-- we need to access the parent of the calling button and then access the name child of the parent -->
      </tr>
      <% }); %>


    </table>
  </body>
</html>
